@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;1,200&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.footer{
    display: block;
    text-align: center;
    padding: 10px 0;
    margin-top: 10px;
    color: #777;
    border-top: 1px solid #eaeaea;
  }